
<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">

  <label for="artist[name]">Name:</label>
  <input name="artist[name]" value="<%= @artist.name %>">

  <label for="artist[photo_url]">Photo URL:</label>
  <input name="artist[photo_url]" value="<%= @artist.photo_url %>">

  <label for="artist[nationality]">Nationality:</label>
  <input name="artist[nationality]" value="<%= @artist.nationality %>">

  <input type="submit" value="Update">
</form>

<h3>Delete Artist</h3>
<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
